{
    "build-runtime": true,
    "id": "com.endlessm.apps.Sdk",
    "id-platform": "com.endlessm.apps.Platform",
    "branch": "25.08",
    "runtime": "org.gnome.Platform",
    "sdk": "org.gnome.Sdk",
    "runtime-version": "49",
    "sdk-extensions": [
        "org.gnome.Sdk.Debug",
        "org.gnome.Sdk.Docs",
        "org.gnome.Sdk.Locale"
    ],
    "platform-extensions": ["org.gnome.Platform.Locale"],
    "inherit-extensions": [
        "org.freedesktop.Platform.GL",
        "org.freedesktop.Platform.Timezones",
        "org.freedesktop.Platform.GStreamer",
        "org.freedesktop.Platform.Icontheme",
        "org.freedesktop.Platform.VAAPI.Intel",
        "org.freedesktop.Sdk.Extension"
    ],
    "add-extensions": {
        "org.gnome.Sdk.Docs" : {
            "version": "49",
            "directory": "share/runtime/docs",
            "bundle": true,
            "autodelete": true,
            "no-autodownload": true
        }
    },
    "finish-args": [
        "--env=GI_TYPELIB_PATH=/app/lib/girepository-1.0",
        "--env=GST_PLUGIN_SYSTEM_PATH=/app/lib/gstreamer-1.0:/usr/lib/extensions/gstreamer-1.0:/usr/lib/gstreamer-1.0",
        "--env=XDG_DATA_DIRS=/app/share:/usr/share:/usr/share/runtime/share:/run/host/share",
        "--sdk=com.endlessm.apps.Sdk//25.08",
        "--runtime=com.endlessm.apps.Platform//25.08"
    ],
    "cleanup": [
        "/man",
        "/share/man",
        "/lib/systemd",
        "*.la",
        "*.a"
    ],
    "cleanup-commands": [
        "update-desktop-database",
        "/usr/libexec/freedesktop-post.sh"
    ],
    "cleanup-platform": [
        "/include",
        "/share/aclocal",
        "/share/pkgconfig",
        "/lib/pkgconfig",
        "/share/gir-1.0",
        "/share/vala"
    ],
    "cleanup-platform-commands": [
        "/usr/libexec/freedesktop-post.sh"
    ],
    "build-options": {
        "cflags": "-O2 -g",
        "cxxflags": "-O2 -g",
        "env": {
            "V": "1"
        }
    },

    "modules": [
        {
            "name": "python3-polib",
            "buildsystem": "simple",
            "build-commands": [
                "pip3 install --verbose --exists-action=i --no-index --find-links=\"file://${PWD}\" --prefix=${FLATPAK_DEST} \"polib\" --no-build-isolation"
            ],
            "sources": [
                {
                    "type": "file",
                    "url": "https://files.pythonhosted.org/packages/6b/99/45bb1f9926efe370c6dbe324741c749658e44cb060124f28dad201202274/polib-1.2.0-py2.py3-none-any.whl",
                    "sha256": "1c77ee1b81feb31df9bca258cbc58db1bbb32d10214b173882452c73af06d62d"
                }
            ]
        },
        {
            "name": "python3-meson-python",
            "buildsystem": "simple",
            "build-commands": [
                "pip3 install --verbose --exists-action=i --no-index --find-links=\"file://${PWD}\" --prefix=${FLATPAK_DEST} \"meson-python\" --no-build-isolation"
            ],
            "sources": [
                {
                    "type": "file",
                    "url": "https://files.pythonhosted.org/packages/28/58/66db620a8a7ccb32633de9f403fe49f1b63c68ca94e5c340ec5cceeb9821/meson_python-0.18.0-py3-none-any.whl",
                    "sha256": "3b0fe051551cc238f5febb873247c0949cd60ded556efa130aa57021804868e2"
                },
                {
                    "type": "file",
                    "url": "https://files.pythonhosted.org/packages/c0/57/e69a1de45ec7a99a707e9f1a5defa035a48de0cae2d8582451c72d2db456/pyproject_metadata-0.10.0-py3-none-any.whl",
                    "sha256": "b1e439a9f7560f9792ee5975dcf5e89d2510b1fc84a922d7e5d665aa9102d966"
                }
            ]
        },
        {
            "name": "python3-scikit-build-core",
            "buildsystem": "simple",
            "build-commands": [
                "pip3 install --verbose --exists-action=i --no-index --find-links=\"file://${PWD}\" --prefix=${FLATPAK_DEST} \"scikit-build-core\" --no-build-isolation"
            ],
            "sources": [
                {
                    "type": "file",
                    "url": "https://files.pythonhosted.org/packages/cc/20/ff623b09d963f88bfde16306a54e12ee5ea43e9b597108672ff3a408aad6/pathspec-0.12.1-py3-none-any.whl",
                    "sha256": "a0d503e138a4c123b27490a4f7beda6a01c6f288df0e4a8b79c7eb0dc7b4cc08"
                },
                {
                    "type": "file",
                    "url": "https://files.pythonhosted.org/packages/43/49/ec16b3db6893db788ae35f98506ff5a9c25dca7eb18cc38ada8a4c1dc944/scikit_build_core-0.11.6-py3-none-any.whl",
                    "sha256": "ce6d8fe64e6b4c759ea0fb95d2f8a68f60d2df31c2989838633b8ec930736360"
                }
            ]
        },
        {
            "name": "python3-setuptools-scm",
            "buildsystem": "simple",
            "build-commands": [
                "pip3 install --verbose --exists-action=i --no-index --find-links=\"file://${PWD}\" --prefix=${FLATPAK_DEST} \"setuptools-scm\" --no-build-isolation"
            ],
            "sources": [
                {
                    "type": "file",
                    "url": "https://files.pythonhosted.org/packages/3d/ea/ac2bf868899d0d2e82ef72d350d97a846110c709bacf2d968431576ca915/setuptools_scm-9.2.2-py3-none-any.whl",
                    "sha256": "30e8f84d2ab1ba7cb0e653429b179395d0c33775d54807fc5f1dd6671801aef7"
                }
            ]
        },
        {
            "name": "python3-patchelf",
            "buildsystem": "simple",
            "build-commands": [
                "pip3 install --verbose --exists-action=i --no-index --find-links=\"file://${PWD}\" --prefix=${FLATPAK_DEST} \"patchelf\" --no-build-isolation"
            ],
            "sources": [
                {
                    "type": "file",
                    "url": "https://files.pythonhosted.org/packages/2c/a3/fdd3fa938c864aa2f11dd0b7f08befeda983d2dcdee44da493c6977a653f/patchelf-0.17.2.4.tar.gz",
                    "sha256": "970ee5cd8af33e5ea2099510b2f9013fa1b8d5cd763bf3fd3961281c18101a09"
                }
            ]
        },
        {
            "name": "python3-python-dbusmock",
            "buildsystem": "simple",
            "build-commands": [
                "pip3 install --verbose --exists-action=i --no-index --find-links=\"file://${PWD}\" --prefix=${FLATPAK_DEST} \"python-dbusmock\" --no-build-isolation"
            ],
            "sources": [
                {
                    "type": "file",
                    "url": "https://files.pythonhosted.org/packages/ff/24/63118050c7dd7be04b1ccd60eab53fef00abe844442e1b6dec92dae505d6/dbus-python-1.4.0.tar.gz",
                    "sha256": "991666e498f60dbf3e49b8b7678f5559b8a65034fdf61aae62cdecdb7d89c770"
                },
                {
                    "type": "file",
                    "url": "https://files.pythonhosted.org/packages/e0/60/7dfea8e5f3b42a796b0ddcca99e4ee718d20ac5bcc11af97546b0932a23b/python_dbusmock-0.37.1.tar.gz",
                    "sha256": "a65aeedc17d8bbc1f0bf3f0b295988914c48619882d77b9afa4117eed95fc594"
                }
            ]
        },
        {
            "name": "libyaml",
            "sources": [
                {
                    "type": "archive",
                    "url": "https://github.com/yaml/libyaml/releases/download/0.2.5/yaml-0.2.5.tar.gz",
                    "sha256": "c642ae9b75fee120b2d96c712538bd2cf283228d2337df2cf2988e3c02678ef4"
                }
            ]
        },
        {
            "name": "python3-pyyaml",
            "no-autogen": true,
            "build-options": {
                "env": {
                    "PYTHON": "/usr/bin/python3"
                }
            },
            "sources": [
                {
                    "type": "archive",
                    "url": "https://files.pythonhosted.org/packages/05/8e/961c0007c59b8dd7729d542c61a4d537767a59645b82a0b521206e1e25c2/pyyaml-6.0.3.tar.gz",
                    "sha256": "d76623373421df22fb4cf8817020cbb7ef15c725b9d5e45f17e189bfc384190f"

                },
                {
                    "type": "file",
                    "path": "setuptools-makefile",
                    "dest-filename": "Makefile"
                }
            ]
        },
        {
            "name": "tcl",
            "no-autogen": true,
            "cleanup": ["*"],
            "builddir": false,
            "subdir": "unix",
            "config-opts": [
                "--disable-symbols"
            ],
            "sources": [
                {
                    "type": "archive",
                    "url": "https://prdownloads.sourceforge.net/tcl/tcl9.0.2-src.tar.gz",
                    "sha256": "e074c6a8d9ba2cddf914ba97b6677a552d7a52a3ca102924389a05ccb249b520"
                }
            ],
            "post-install": [
                "chmod 755 ${FLATPAK_DEST}/lib/${FLATPAK_ARCH}-linux-gnu/libtcl*.so",
                "ln -sfr /usr/bin/tclsh9.0 /usr/bin/tclsh"
            ]
        },
        {
            "name": "eos-metrics",
            "config-opts": [
                "--disable-gtk-doc",
                "--disable-gir-doc"
            ],
            "sources": [
                {
                    "type": "git",
                    "url": "https://github.com/endlessm/eos-metrics",
                    "branch": "sdk-6"
                }
            ]
        },
        {
            "name": "xapian-core",
            "builddir": false,
            "build-options": {
                "config-opts": [
                    "--enable-maintainer-mode",
                    "--disable-documentation"
                ],
                "arch": {
                    "arm": {
                        "cxxflags": "-O2 -g -Wno-error=cast-align"
                    }
                }
            },
            "sources": [
                {
                    "type": "git",
                    "url": "https://git.xapian.org/xapian",
                    "commit": "6e12ad7cd2c4b89fb5e982700553bd54ec0d1261"
                },
                {
                    "type": "shell",
                    "commands": [ "./bootstrap --download-tools=never xapian-core" ]
                }
            ]
        },
        {
            "name": "xapian-glib",
            "buildsystem": "meson",
            "sources": [
                {
                    "type": "git",
                    "url": "https://github.com/ojwb/xapian-glib.git",
                    "branch": "update-to-latest-xapian"
                }
            ]
        },
        {
            "name": "jasmine-gjs",
            "cleanup-platform": ["*"],
            "sources": [
                {
                    "type": "git",
                    "url": "https://github.com/ptomato/jasmine-gjs",
                    "commit": "88c2e56c7e50ab6f51008091e995771bf957fd89"
                }
            ]
        },
        {
            "name": "eos-sdk",
            "build-options": {
                "env": {
                    "PYTHON": "python3"
                },
                "config-opts": [
                    "--disable-gtk-doc",
                    "--disable-gir-doc",
                    "--disable-js-doc",
                    "--disable-webhelper"
                ]
            },
            "sources": [
                {
                    "type": "git",
                    "url": "https://github.com/endlessm/eos-sdk",
                    "branch": "sdk-6"
                }
            ]
        },
        {
            "name": "libsass",
            "sources": [
                {
                    "type": "archive",
                    "url": "https://github.com/sass/libsass/archive/3.4.4.tar.gz",
                    "sha256": "1dc4d49a9a53b891b7e98935709e625f1d68782d87aef4304a41e6d590abb480"
                },
                {
                    "type": "shell",
                    "commands": [ "autoreconf --verbose --force --install" ]
                }
            ]
        },
        {
            "name": "sassc",
            "sources": [
                {
                    "type": "archive",
                    "url": "https://github.com/sass/sassc/archive/3.4.2.tar.gz",
                    "sha256": "ad805f2d404d17cf2980c8079a7413cd58d2f2085120167997b85420a722e079"
                },
                {
                    "type": "shell",
                    "commands": [ "autoreconf --verbose --force --install" ]
                }
            ]
        },
        {
            "name": "eos-shard",
            "sources": [
                {
                    "type": "git",
                    "url": "https://github.com/endlessm/eos-shard.git",
                    "branch": "sdk-6"
                }
            ]
        },
        {
            "name": "libdmodel",
            "buildsystem": "meson",
            "sources": [
                {
                    "type": "git",
                    "url": "https://github.com/endlessm/libdmodel.git",
                    "branch": "sdk-6"
                }
            ]
        },
        {
            "name": "basin",
            "cleanup-platform": [
                "/bin/basin",
                "/bin/basin-helper",
                "/bin/basin-processor",
                "/share/basin"
            ],
            "sources": [
                {
                    "type": "git",
                    "url": "https://github.com/endlessm/basin.git",
                    "branch": "sdk-6"
                }
            ]
        },
        {
            "name": "mathjax-js",
            "no-autogen": true,
            "sources": [
                {
                    "type": "archive",
                    "url": "https://github.com/mathjax/MathJax/archive/2.4.0.tar.gz",
                    "sha256": "cd7175e1e352793942a976bf40692b954b5169bd28533921a8a8dd4ec865d855"
                },
                {
                    "type": "file",
                    "path": "mathjax-makefile",
                    "dest-filename": "Makefile"
                }
            ]
        },
        {
            "name": "appstream",
            "builddir": true,
            "buildsystem": "cmake",
            "build-options": {
                "config-opts": [
                    "-DCMAKE_INSTALL_LIBDIR=/usr/lib",
                    "-DQT=OFF",
                    "-DAPT_SUPPORT=ON",
                    "-DVAPI=OFF",
                    "-DSTEMMING=OFF"
                ]
            },
            "sources": [
                {
                    "type": "archive",
                    "url": "https://github.com/ximion/appstream/archive/APPSTREAM_0_10_4.tar.gz",
                    "sha256": "0f506ef1146d2bc96c9215368de7e3248a110f4a8b90c6cc80cfe058e9abe33e"
                },
                {
                    "type": "patch",
                    "path": "endless-appstream-cache.patch"
                },
                {
                    "type": "patch",
                    "path": "endless-appstream-no-docs.patch"
                }
            ]
        },
        {
            "name": "emeus",
            "buildsystem": "meson",
            "builddir": true,
            "build-options": {
                "config-opts": [
                    "--libdir=/usr/lib",
                    "-Denable-gtk-doc=false"
                ]
            },
            "sources": [
                {
                    "type": "git",
                    "url": "https://github.com/endlessm/emeus.git",
                    "branch": "sdk-6"
                }
            ]
        },
        {
            "name": "maxwell",
            "buildsystem": "meson",
            "builddir": true,
            "sources": [
                {
                    "type": "git",
                    "url": "https://github.com/endlessm/maxwell.git",
                    "branch": "sdk-6"
                }
            ]
        },
        {
            "name": "popplerdata",
            "no-autogen": true,
            "make-install-args": ["prefix=/usr"],
            "sources": [
                {
                    "type": "archive",
                    "url": "https://poppler.freedesktop.org/poppler-data-0.4.8.tar.gz",
                    "sha256": "1096a18161f263cccdc6d8a2eb5548c41ff8fcf9a3609243f1b6296abdf72872"
                }
            ]
        },
        {
            "name": "poppler",
            "config-opts": [ "--enable-libopenjpeg=none"],
            "cleanup": [ "/bin" ],
            "sources": [
                {
                    "type": "archive",
                    "url": "https://poppler.freedesktop.org/poppler-0.59.0.tar.xz",
                    "sha256": "a3d626b24cd14efa9864e12584b22c9c32f51c46417d7c10ca17651f297c9641"
                }
            ]
        },
        {
            "name": "evince",
            "config-opts": [ "--disable-nautilus", "--enable-introspection" ],
            "cleanup": [ "/bin" ],
            "sources": [
                {
                    "type": "archive",
                    "url": "https://download.gnome.org/sources/evince/3.28/evince-3.28.2.tar.xz",
                    "sha256": "0955d22d85c9f6d322b6cbb464f1cc4c352db619017ec95dad4cc5c3440f73e1"
                },
                {
                    "type": "patch",
                    "path": "evince-EvView-fix-transformation-functions-to-document-coor.patch"
                }
            ]
        },
        {
            "name": "python3-lxml",
            "no-autogen": true,
            "cleanup-platform": ["*"],
            "ensure-writable": ["/lib/python*/site-packages/easy-install.pth"],
            "build-options": {
                "cflags": "-I/usr/include",
                "env": {
                    "XSLT_CONFIG": "pkg-config libxslt",
                    "XML2_CONFIG": "pkg-config libxml-2.0"
                }
            },
            "sources": [
                {
                    "type": "archive",
                    "url": "https://pypi.python.org/packages/20/b3/9f245de14b7696e2d2a386c0b09032a2ff6625270761d6543827e667d8de/lxml-3.8.0.tar.gz",
                    "sha256": "736f72be15caad8116891eb6aa4a078b590d231fdc63818c40c21624ac71db96"
                },
                {
                    "type": "file",
                    "path": "setuptools-makefile",
                    "dest-filename": "Makefile"
                },
                {
                    "type": "patch",
                    "path": "lxml-Fix-getting-lib-version-when-using-pkg-config.patch"
                }
            ]
        },
        {
            "name": "hotdoc",
            "cleanup-platform": ["*"],
            "buildsystem": "simple",
            "build-commands": [
                "pip3 install --no-index --find-links \"file://${PWD}\" hotdoc"
            ],
            "sources": [
                {
                    "type": "file",
                    "url": "https://pypi.python.org/packages/f6/f7/875e23067652488ae40603336fdd63510a1e1853672b5b829a78452fd31c/toposort-1.4.tar.gz",
                    "sha256": "c190b9d9a9e53ae2835f4d524130147af601fbd63677d19381c65067a80fa903"
                },
                {
                    "type": "file",
                    "url": "https://pypi.python.org/packages/b1/94/311326207d43dd0bcc7c98b9abef223a38841d2baf1a3bb53b09b7f5f625/SQLAlchemy-1.2.1.tar.gz",
                    "sha256": "9ede7070d6fd18f28058be88296ed67893e2637465516d6a596cd9afea97b154"
                },
                {
                    "type": "file",
                    "url": "https://pypi.python.org/packages/b1/67/7f0a14a4cc9bd949b8d22383c26fec83a00e7bd428e15c697f998e3e37ba/wheezy.template-0.1.167.tar.gz",
                    "sha256": "a2ee933452f0352fb8587d79bf6fc66dbf3a14779ef7d17b9fa75e80c0003f19"
                },
                {
                    "type": "file",
                    "url": "https://pypi.python.org/packages/ad/fd/07c85c70803465df171340d88b12b7f41f5181777053a5cd8d75ce2f4b89/schema-0.6.7.tar.gz",
                    "sha256": "410f44cb025384959d20deef00b4e1595397fa30959947a4f0d92e9c84616f35"
                },
                {
                    "type": "file",
                    "url": "https://pypi.python.org/packages/48/69/d87c60746b393309ca30761f8e2b49473d43450b150cb08f3c6df5c11be5/appdirs-1.4.3.tar.gz",
                    "sha256": "9e5896d1372858f8dd3344faf4e5014d21849c756c8d5701f78f8a103b372d92"
                },
                {
                    "type": "file",
                    "url": "https://pypi.python.org/packages/0b/8e/07d19b56d5e4fc79d86f2dff69674841c8dec30a008dbda36d0d2dbc6e50/hotdoc-0.8.92.tar.gz",
                    "sha256": "b9c7141ae71696e5da11974e2b012814d9cf76569a9934b184195237ada767bd"
                }
            ]
        },
        {
            "name": "hotdoc-modular-framework",
            "cleanup-platform": ["*"],
            "buildsystem": "simple",
            "build-commands": ["pip3 install ."],
            "test-commands": ["python setup.py test"],
            "sources": [
                {
                    "type": "git",
                    "url": "https://github.com/endlessm/hotdoc-modular-framework",
                    "branch": "master"
                }
            ]
        },
        {
            "name": "eos-hotdoc-theme",
            "cleanup-platform": ["*"],
            "buildsystem": "simple",
            "build-commands": [],
            "sources": [
                {
                    "type": "file",
                    "url": "https://endlessm.github.io/eos-hotdoc-theme/releases/eos-hotdoc-theme-0.0.0.tar.xz",
                    "sha256": "38c0e9b4e30636fcc595e5f45504c08a912505a7c31b0d2ab1a27f0947c9b41e"
                }
            ],
            "post-install": [
                "mkdir -p /usr/share/eos-hotdoc-theme",
                "tar -C /usr/share/eos-hotdoc-theme -xJf eos-hotdoc-theme-0.0.0.tar.xz"
            ]
        },
        {
            "name": "mustache-c",
            "sources": [
                {
                    "type": "git",
                    "url": "https://github.com/x86-64/mustache-c.git",
                    "commit": "01f1e4732c4862071bbf07242128abf1e28cc105"
                }
            ]
        },
        {
            "name": "eos-knowledge-content-renderer",
            "buildsystem": "meson",
            "cleanup": [
                "/include/*",
                "/share/gir-1.0/*"
            ],
            "sources": [
                {
                    "type": "git",
                    "url": "https://github.com/endlessm/eos-knowledge-content-renderer.git",
                    "branch": "sdk-6"
                }
            ]
        },
        {
            "name": "eos-knowledge-lib",
            "cleanup-platform": [
                "*.po",
                "*.scss",
                "/bin/autobahn",
                "/bin/eminem",
                "/bin/introspect",
                "/bin/kermit",
                "/bin/picard"
            ],
            "build-options": {
                "config-opts": [
                    "--disable-js-doc",
                    "--disable-documentation",
                    "--with-mathjax-dir=/usr/share/javascript/mathjax"
                ],
                "env": {
                    "HOTDOC": "/usr/bin/python3 /usr/bin/hotdoc"
                }
            },
            "sources": [
                {
                    "type": "git",
                    "url": "https://github.com/endlessm/eos-knowledge-lib.git",
                    "branch": "sdk-6"
                }
            ]
        },
        {
            "name": "os-release",
            "sources": [
                {
                    "type": "file",
                    "path": "os-release"
                },
                {
                    "type": "file",
                    "path": "issue"
                },
                {
                    "type": "file",
                    "path": "issue.net"
                },
                {
                    "type": "file",
                    "path": "com.endlessm.apps.Sdk.appdata.xml"
                },
                {
                    "type": "file",
                    "path": "com.endlessm.apps.Platform.appdata.xml"
                },
                {
                    "type": "file",
                    "path": "os-release-configure",
                    "dest-filename": "configure"
                }
            ]
        }

    ]
}
