{
    "build-runtime": true,
    "id": "com.endlessm.apps.Sdk",
    "id-platform": "com.endlessm.apps.Platform",
    "branch": "25.08",
    "runtime": "org.gnome.Platform",
    "sdk": "org.gnome.Sdk",
    "runtime-version": "49",
    "sdk-extensions": [
        "org.gnome.Sdk.Debug",
        "org.gnome.Sdk.Docs",
        "org.gnome.Sdk.Locale"
    ],
    "platform-extensions": ["org.gnome.Platform.Locale"],
    "inherit-extensions": [
        "org.freedesktop.Platform.GL",
        "org.freedesktop.Platform.Timezones",
        "org.freedesktop.Platform.GStreamer",
        "org.freedesktop.Platform.Icontheme",
        "org.freedesktop.Platform.VAAPI.Intel",
        "org.freedesktop.Sdk.Extension"
    ],
    "add-extensions": {
        "org.gnome.Sdk.Docs" : {
            "version": "49",
            "directory": "share/runtime/docs",
            "bundle": true,
            "autodelete": true,
            "no-autodownload": true
        }
    },
    "finish-args": [
        "--env=GI_TYPELIB_PATH=/app/lib/girepository-1.0",
        "--env=GST_PLUGIN_SYSTEM_PATH=/app/lib/gstreamer-1.0:/usr/lib/extensions/gstreamer-1.0:/usr/lib/gstreamer-1.0",
        "--env=XDG_DATA_DIRS=/app/share:/usr/share:/usr/share/runtime/share:/run/host/share",
        "--sdk=com.endlessm.apps.Sdk//25.08",
        "--runtime=com.endlessm.apps.Platform//25.08"
    ],
    "cleanup": [
        "/man",
        "/share/man",
        "/lib/systemd",
        "*.la",
        "*.a"
    ],
    "cleanup-commands": [
        "update-desktop-database",
        "/usr/libexec/freedesktop-post.sh"
    ],
    "cleanup-platform": [
        "/include",
        "/share/aclocal",
        "/share/pkgconfig",
        "/lib/pkgconfig",
        "/share/gir-1.0",
        "/share/vala"
    ],
    "cleanup-platform-commands": [
        "/usr/libexec/freedesktop-post.sh"
    ],
    "build-options": {
        "cflags": "-O2 -g",
        "cxxflags": "-O2 -g",
        "env": {
            "V": "1"
        }
    },

    "modules": [
        {
            "name": "python3-polib",
            "buildsystem": "simple",
            "build-commands": [
                "pip3 install --verbose --exists-action=i --no-index --find-links=\"file://${PWD}\" --prefix=${FLATPAK_DEST} \"polib\" --no-build-isolation"
            ],
            "sources": [
                {
                    "type": "file",
                    "url": "https://files.pythonhosted.org/packages/6b/99/45bb1f9926efe370c6dbe324741c749658e44cb060124f28dad201202274/polib-1.2.0-py2.py3-none-any.whl",
                    "sha256": "1c77ee1b81feb31df9bca258cbc58db1bbb32d10214b173882452c73af06d62d"
                }
            ]
        },
        {
            "name": "python3-meson-python",
            "buildsystem": "simple",
            "build-commands": [
                "pip3 install --verbose --exists-action=i --no-index --find-links=\"file://${PWD}\" --prefix=${FLATPAK_DEST} \"meson-python\" --no-build-isolation"
            ],
            "sources": [
                {
                    "type": "file",
                    "url": "https://files.pythonhosted.org/packages/28/58/66db620a8a7ccb32633de9f403fe49f1b63c68ca94e5c340ec5cceeb9821/meson_python-0.18.0-py3-none-any.whl",
                    "sha256": "3b0fe051551cc238f5febb873247c0949cd60ded556efa130aa57021804868e2"
                },
                {
                    "type": "file",
                    "url": "https://files.pythonhosted.org/packages/c0/57/e69a1de45ec7a99a707e9f1a5defa035a48de0cae2d8582451c72d2db456/pyproject_metadata-0.10.0-py3-none-any.whl",
                    "sha256": "b1e439a9f7560f9792ee5975dcf5e89d2510b1fc84a922d7e5d665aa9102d966"
                }
            ]
        },
        {
            "name": "python3-scikit-build-core",
            "buildsystem": "simple",
            "build-commands": [
                "pip3 install --verbose --exists-action=i --no-index --find-links=\"file://${PWD}\" --prefix=${FLATPAK_DEST} \"scikit-build-core\" --no-build-isolation"
            ],
            "sources": [
                {
                    "type": "file",
                    "url": "https://files.pythonhosted.org/packages/cc/20/ff623b09d963f88bfde16306a54e12ee5ea43e9b597108672ff3a408aad6/pathspec-0.12.1-py3-none-any.whl",
                    "sha256": "a0d503e138a4c123b27490a4f7beda6a01c6f288df0e4a8b79c7eb0dc7b4cc08"
                },
                {
                    "type": "file",
                    "url": "https://files.pythonhosted.org/packages/43/49/ec16b3db6893db788ae35f98506ff5a9c25dca7eb18cc38ada8a4c1dc944/scikit_build_core-0.11.6-py3-none-any.whl",
                    "sha256": "ce6d8fe64e6b4c759ea0fb95d2f8a68f60d2df31c2989838633b8ec930736360"
                }
            ]
        },
        {
            "name": "python3-setuptools-scm",
            "buildsystem": "simple",
            "build-commands": [
                "pip3 install --verbose --exists-action=i --no-index --find-links=\"file://${PWD}\" --prefix=${FLATPAK_DEST} \"setuptools-scm\" --no-build-isolation"
            ],
            "sources": [
                {
                    "type": "file",
                    "url": "https://files.pythonhosted.org/packages/3d/ea/ac2bf868899d0d2e82ef72d350d97a846110c709bacf2d968431576ca915/setuptools_scm-9.2.2-py3-none-any.whl",
                    "sha256": "30e8f84d2ab1ba7cb0e653429b179395d0c33775d54807fc5f1dd6671801aef7"
                }
            ]
        },
        {
            "name": "python3-patchelf",
            "buildsystem": "simple",
            "build-commands": [
                "pip3 install --verbose --exists-action=i --no-index --find-links=\"file://${PWD}\" --prefix=${FLATPAK_DEST} \"patchelf\" --no-build-isolation"
            ],
            "sources": [
                {
                    "type": "file",
                    "url": "https://files.pythonhosted.org/packages/2c/a3/fdd3fa938c864aa2f11dd0b7f08befeda983d2dcdee44da493c6977a653f/patchelf-0.17.2.4.tar.gz",
                    "sha256": "970ee5cd8af33e5ea2099510b2f9013fa1b8d5cd763bf3fd3961281c18101a09"
                }
            ]
        },
        {
            "name": "python3-python-dbusmock",
            "buildsystem": "simple",
            "build-commands": [
                "pip3 install --verbose --exists-action=i --no-index --find-links=\"file://${PWD}\" --prefix=${FLATPAK_DEST} \"python-dbusmock\" --no-build-isolation"
            ],
            "sources": [
                {
                    "type": "file",
                    "url": "https://files.pythonhosted.org/packages/ff/24/63118050c7dd7be04b1ccd60eab53fef00abe844442e1b6dec92dae505d6/dbus-python-1.4.0.tar.gz",
                    "sha256": "991666e498f60dbf3e49b8b7678f5559b8a65034fdf61aae62cdecdb7d89c770"
                },
                {
                    "type": "file",
                    "url": "https://files.pythonhosted.org/packages/e0/60/7dfea8e5f3b42a796b0ddcca99e4ee718d20ac5bcc11af97546b0932a23b/python_dbusmock-0.37.1.tar.gz",
                    "sha256": "a65aeedc17d8bbc1f0bf3f0b295988914c48619882d77b9afa4117eed95fc594"
                }
            ]
        },
        {
            "name": "libyaml",
            "sources": [
                {
                    "type": "archive",
                    "url": "https://github.com/yaml/libyaml/releases/download/0.2.5/yaml-0.2.5.tar.gz",
                    "sha256": "c642ae9b75fee120b2d96c712538bd2cf283228d2337df2cf2988e3c02678ef4"
                }
            ]
        },
        {
            "name": "python3-pyyaml",
            "no-autogen": true,
            "build-options": {
                "env": {
                    "PYTHON": "/usr/bin/python3"
                }
            },
            "sources": [
                {
                    "type": "archive",
                    "url": "https://files.pythonhosted.org/packages/05/8e/961c0007c59b8dd7729d542c61a4d537767a59645b82a0b521206e1e25c2/pyyaml-6.0.3.tar.gz",
                    "sha256": "d76623373421df22fb4cf8817020cbb7ef15c725b9d5e45f17e189bfc384190f"

                },
                {
                    "type": "file",
                    "path": "setuptools-makefile",
                    "dest-filename": "Makefile"
                }
            ]
        },
        {
            "name": "tcl",
            "no-autogen": true,
            "cleanup": ["*"],
            "builddir": false,
            "subdir": "unix",
            "config-opts": [
                "--disable-symbols"
            ],
            "sources": [
                {
                    "type": "archive",
                    "url": "https://prdownloads.sourceforge.net/tcl/tcl9.0.2-src.tar.gz",
                    "sha256": "e074c6a8d9ba2cddf914ba97b6677a552d7a52a3ca102924389a05ccb249b520"
                }
            ],
            "post-install": [
                "chmod 755 ${FLATPAK_DEST}/lib/${FLATPAK_ARCH}-linux-gnu/libtcl*.so",
                "ln -sfr /usr/bin/tclsh9.0 /usr/bin/tclsh"
            ]
        },
        {
            "name": "eos-metrics",
            "config-opts": [
                "--disable-gtk-doc",
                "--disable-gir-doc"
            ],
            "sources": [
                {
                    "type": "git",
                    "url": "https://github.com/endlessm/eos-metrics",
                    "branch": "sdk-6"
                }
            ]
        },
        {
            "name": "xapian-core",
            "builddir": false,
            "build-options": {
                "config-opts": [
                    "--enable-maintainer-mode",
                    "--disable-documentation"
                ],
                "arch": {
                    "arm": {
                        "cxxflags": "-O2 -g -Wno-error=cast-align"
                    }
                }
            },
            "sources": [
                {
                    "type": "git",
                    "url": "https://git.xapian.org/xapian",
                    "commit": "6e12ad7cd2c4b89fb5e982700553bd54ec0d1261"
                },
                {
                    "type": "shell",
                    "commands": [ "./bootstrap --download-tools=never xapian-core" ]
                }
            ]
        },
        {
            "name": "xapian-glib",
            "buildsystem": "meson",
            "sources": [
                {
                    "type": "git",
                    "url": "https://github.com/ojwb/xapian-glib.git",
                    "branch": "update-to-latest-xapian"
                }
            ]
        },
        {
            "name": "jasmine-gjs",
            "cleanup-platform": ["*"],
            "buildsystem": "meson",
            "sources": [
                {
                    "type": "git",
                    "url": "https://github.com/ptomato/jasmine-gjs",
                    "tag": "3.10.1",
                    "commit": "0b419384c7446ae74cd2fac295b9db5a18ce4ab1"
                }
            ]
        },
        {
            "name": "eos-sdk",
            "build-options": {
                "env": {
                    "PYTHON": "python3"
                },
                "config-opts": [
                    "--disable-gtk-doc",
                    "--disable-gir-doc",
                    "--disable-js-doc",
                    "--disable-webhelper"
                ]
            },
            "sources": [
                {
                    "type": "git",
                    "url": "https://github.com/endlessm/eos-sdk",
                    "branch": "sdk-6"
                }
            ]
        },
        {
            "name": "libsass",
            "sources": [
                {
                    "type": "archive",
                    "url": "https://github.com/sass/libsass/archive/3.4.4.tar.gz",
                    "sha256": "1dc4d49a9a53b891b7e98935709e625f1d68782d87aef4304a41e6d590abb480"
                },
                {
                    "type": "shell",
                    "commands": [ "autoreconf --verbose --force --install" ]
                }
            ]
        },
        {
            "name": "sassc",
            "sources": [
                {
                    "type": "archive",
                    "url": "https://github.com/sass/sassc/archive/3.4.2.tar.gz",
                    "sha256": "ad805f2d404d17cf2980c8079a7413cd58d2f2085120167997b85420a722e079"
                },
                {
                    "type": "shell",
                    "commands": [ "autoreconf --verbose --force --install" ]
                }
            ]
        },
        {
            "name": "eos-shard",
            "build-options": {
                "cflags": "-Wno-error=deprecated-declarations -Wno-error=discarded-qualifiers"
            },
            "sources": [
                {
                    "type": "git",
                    "url": "https://github.com/endlessm/eos-shard.git",
                    "branch": "sdk-6"
                }
            ]
        },
        "shared-modules/libsoup/libsoup-2.4.json",
        {
            "name": "libdmodel",
            "buildsystem": "meson",
            "build-options": {
                "config-opts": [
                    "-Dwarning_level=0"
                ]
            },
            "sources": [
                {
                    "type": "git",
                    "url": "https://github.com/endlessm/libdmodel.git",
                    "branch": "sdk-5"
                },
                {
                    "type": "patch",
                    "path": "libdmodel-dont-error-at-warning.patch"
                }
            ]
        },
        {
            "name": "basin",
            "cleanup-platform": [
                "/bin/basin",
                "/bin/basin-helper",
                "/bin/basin-processor",
                "/share/basin"
            ],
            "sources": [
                {
                    "type": "git",
                    "url": "https://github.com/endlessm/basin.git",
                    "branch": "sdk-6"
                }
            ]
        },
        {
            "name": "mathjax-js",
            "no-autogen": true,
            "sources": [
                {
                    "type": "archive",
                    "url": "https://github.com/mathjax/MathJax/archive/2.4.0.tar.gz",
                    "sha256": "cd7175e1e352793942a976bf40692b954b5169bd28533921a8a8dd4ec865d855"
                },
                {
                    "type": "file",
                    "path": "mathjax-makefile",
                    "dest-filename": "Makefile"
                }
            ]
        },
        {
            "name": "libfyaml",
            "sources": [
                {
                    "type": "archive",
                    "url": "https://github.com/pantoniou/libfyaml/releases/download/v0.9/libfyaml-0.9.tar.gz",
                    "sha256": "7731edc5dfcc345d5c5c9f6ce597133991a689dabede393cd77bae89b327cd6d",
                    "x-checker-data": {
                        "type": "anitya",
                        "project-id": 383614,
                        "stable-only": true,
                        "url-template": "https://github.com/pantoniou/libfyaml/releases/download/v$version/libfyaml-$version.tar.gz"
                    }
                }
            ]
        },
        {
            "name": "appstream",
            "buildsystem": "meson",
            "config-opts": [
                "-Dcompose=true",
                "-Dstemming=false",
                "-Dapidocs=false",
                "-Dman=false"
            ],
            "sources": [
                {
                    "type": "git",
                    "url": "https://github.com/ximion/appstream.git",
                    "tag": "v1.1.1",
                    "commit": "d6ce0a8dbdf31a33762009a0e1f364e938470af2"
                }
            ]
        },
        {
            "name": "emeus",
            "buildsystem": "meson",
            "builddir": true,
            "build-options": {
                "config-opts": [
                    "--libdir=/usr/lib",
                    "-Denable-gtk-doc=false"
                ]
            },
            "sources": [
                {
                    "type": "git",
                    "url": "https://github.com/endlessm/emeus.git",
                    "branch": "sdk-6"
                }
            ]
        },
        {
            "name": "maxwell",
            "buildsystem": "meson",
            "builddir": true,
            "sources": [
                {
                    "type": "git",
                    "url": "https://github.com/endlessm/maxwell.git",
                    "branch": "sdk-6"
                },
                {
                    "type": "patch",
                    "path": "maxwell-require-webkit2gtk-4.1-instead.patch"
                }
            ]
        },
        {
            "name": "popplerdata",
            "no-autogen": true,
            "make-install-args": ["prefix=/usr"],
            "sources": [
                {
                    "type": "archive",
                    "url": "https://poppler.freedesktop.org/poppler-data-0.4.12.tar.gz",
                    "sha256": "c835b640a40ce357e1b83666aabd95edffa24ddddd49b8daff63adb851cdab74",
                    "x-checker-data": {
                        "type": "anitya",
                        "project-id": 3687,
                        "url-template": "https://poppler.freedesktop.org/poppler-data-$version.tar.gz"
                    }
                }
            ]
        },
        {
            "name": "poppler",
            "cleanup": [ "/bin" ],
            "buildsystem": "cmake-ninja",
            "config-opts": [
                "-DCMAKE_INSTALL_LIBDIR=/usr/lib",
                "-DCMAKE_INSTALL_INCLUDEDIR=/usr/include",
                "-DBUILD_GTK_TESTS=OFF",
                "-DBUILD_CPP_TESTS=OFF",
                "-DENABLE_CPP=OFF",
                "-DENABLE_BOOST=OFF",
                "-DENABLE_GOBJECT_INTROSPECTION=OFF",
                "-DENABLE_LIBOPENJPEG=openjpeg2",
                "-DENABLE_QT5=OFF",
                "-DENABLE_QT6=OFF"
            ],
            "sources": [
                {
                    "type": "archive",
                    "url": "https://poppler.freedesktop.org/poppler-25.08.0.tar.xz",
                    "sha256": "425ed4d4515a093bdcdbbaac6876f20617451edc710df6a4fd6c45dd67eb418d",
                    "x-checker-data": {
                        "is-important": true,
                        "type": "anitya",
                        "project-id": 3686,
                        "url-template": "https://poppler.freedesktop.org/poppler-$version.tar.xz"
                    }
                }
            ]
        },
        {
            "name": "evince",
            "buildsystem": "meson",
            "config-opts": [
                "-Dnautilus=false",
                "-Dthumbnailer=false",
                "-Dgtk_doc=false"
            ],
            "sources": [
                {
                    "type": "archive",
                    "url": "https://download.gnome.org/sources/evince/48/evince-48.1.tar.xz",
                    "sha256": "7d8b9a6fa3a05d3f5b9048859027688c73a788ff6e923bc3945126884943fa10",
                    "git-init": true,
                    "x-checker-data": {
                        "is-important": true,
                        "type": "gnome",
                        "name": "evince"
                    }
                }
            ]
        },
        {
            "name": "python3-lxml",
            "buildsystem": "simple",
            "build-commands": [
                "pip3 install --verbose --exists-action=i --no-index --find-links=\"file://${PWD}\" --prefix=${FLATPAK_DEST} \"lxml\" --no-build-isolation"
            ],
            "sources": [
                {
                    "type": "file",
                    "url": "https://files.pythonhosted.org/packages/aa/88/262177de60548e5a2bfc46ad28232c9e9cbde697bd94132aeb80364675cb/lxml-6.0.2.tar.gz",
                    "sha256": "cd79f3367bd74b317dda655dc8fcfa304d9eb6e4fb06b7168c5cf27f96e0cd62"
                }
            ]
        },
        {
            "name": "hotdoc-modular-framework",
            "cleanup-platform": ["*"],
            "buildsystem": "simple",
            "build-commands": [
                "pip3 install --verbose --exists-action=i --no-index --find-links=\"file://${PWD}\" --prefix=${FLATPAK_DEST} \".\" --no-build-isolation"
            ],
            "test-commands": ["python setup.py test"],
            "sources": [
                {
                    "type": "git",
                    "url": "https://github.com/endlessm/hotdoc-modular-framework",
                    "branch": "master"
                }
            ]
        },
        {
            "name": "eos-hotdoc-theme",
            "cleanup-platform": ["*"],
            "buildsystem": "simple",
            "build-commands": [],
            "sources": [
                {
                    "type": "file",
                    "url": "https://endlessm.github.io/eos-hotdoc-theme/releases/eos-hotdoc-theme-0.0.0.tar.xz",
                    "sha256": "38c0e9b4e30636fcc595e5f45504c08a912505a7c31b0d2ab1a27f0947c9b41e"
                }
            ],
            "post-install": [
                "mkdir -p /usr/share/eos-hotdoc-theme",
                "tar -C /usr/share/eos-hotdoc-theme -xJf eos-hotdoc-theme-0.0.0.tar.xz"
            ]
        },
        {
            "name": "mustache-c",
            "sources": [
                {
                    "type": "git",
                    "url": "https://github.com/x86-64/mustache-c.git",
                    "commit": "01f1e4732c4862071bbf07242128abf1e28cc105"
                }
            ]
        },
        {
            "name": "eos-knowledge-content-renderer",
            "buildsystem": "meson",
            "cleanup": [
                "/include/*",
                "/share/gir-1.0/*"
            ],
            "sources": [
                {
                    "type": "git",
                    "url": "https://github.com/endlessm/eos-knowledge-content-renderer.git",
                    "branch": "sdk-6"
                }
            ]
        },
        {
            "name": "eos-knowledge-lib",
            "cleanup-platform": [
                "*.po",
                "*.scss",
                "/bin/autobahn",
                "/bin/eminem",
                "/bin/introspect",
                "/bin/kermit",
                "/bin/picard"
            ],
            "build-options": {
                "config-opts": [
                    "--disable-js-doc",
                    "--disable-documentation",
                    "--with-mathjax-dir=/usr/share/javascript/mathjax"
                ],
                "env": {
                    "HOTDOC": "/usr/bin/python3 /usr/bin/hotdoc"
                }
            },
            "sources": [
                {
                    "type": "git",
                    "url": "https://github.com/endlessm/eos-knowledge-lib.git",
                    "branch": "sdk-6"
                }
            ]
        },
        {
            "name": "os-release",
            "sources": [
                {
                    "type": "file",
                    "path": "os-release"
                },
                {
                    "type": "file",
                    "path": "issue"
                },
                {
                    "type": "file",
                    "path": "issue.net"
                },
                {
                    "type": "file",
                    "path": "com.endlessm.apps.Sdk.appdata.xml"
                },
                {
                    "type": "file",
                    "path": "com.endlessm.apps.Platform.appdata.xml"
                },
                {
                    "type": "file",
                    "path": "os-release-configure",
                    "dest-filename": "configure"
                }
            ]
        }

    ]
}
